ContainerLoading/Web References/ContainerService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequiredClientVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetRequiredClientVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequiredClientVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadScannedBarcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scannedBarcodes" type="tns:ArrayOfUploadScannedBarcodeTableRow" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUploadScannedBarcodeTableRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UploadScannedBarcodeTableRow" nillable="true" type="tns:UploadScannedBarcodeTableRow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UploadScannedBarcodeTableRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContainerBarcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PalletBarcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Designation" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Forklift" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bracer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatChecker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoadChecker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CasualChecker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataChecker" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadScannedBarcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadScannedBarcodeResult" type="tns:UploadScannedResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UploadScannedResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ServerStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UploadedData" type="tns:ArrayOfUploadScannedBarcodeTableRow" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequiredClientVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequiredClientVersion" />
  </wsdl:message>
  <wsdl:message name="GetRequiredClientVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequiredClientVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UploadScannedBarcodeSoapIn">
    <wsdl:part name="parameters" element="tns:UploadScannedBarcode" />
  </wsdl:message>
  <wsdl:message name="UploadScannedBarcodeSoapOut">
    <wsdl:part name="parameters" element="tns:UploadScannedBarcodeResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientVersion">
      <wsdl:input message="tns:GetRequiredClientVersionSoapIn" />
      <wsdl:output message="tns:GetRequiredClientVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadScannedBarcode">
      <wsdl:input message="tns:UploadScannedBarcodeSoapIn" />
      <wsdl:output message="tns:UploadScannedBarcodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientVersion">
      <soap:operation soapAction="http://tempuri.org/GetRequiredClientVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadScannedBarcode">
      <soap:operation soapAction="http://tempuri.org/UploadScannedBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiredClientVersion">
      <soap12:operation soapAction="http://tempuri.org/GetRequiredClientVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadScannedBarcode">
      <soap12:operation soapAction="http://tempuri.org/UploadScannedBarcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.11.1.28/ContainerService/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.11.1.28/ContainerService/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>